#menuprincipal ul{
  float: left;
  width: 200px;
  padding: 0;
  margin: 0;
}
#contenido{
  background-color: rgb(240,237,237);
  margin-left: 200px;
  display: inline-block;
}
#contenido p img{
   float: right;
}
